<h1>Products#update</h1>
<p>Find me in app/views/products/update.html.erb</p>

<%# <h1>Update product</h1> %>

<%# <%= render "form", product: @product %\> %>

<%# <%= link_to "Back", products_path %\> %>
